.App {
  font-family: sans-serif;
  text-align: center;
}


.wht{
  color: rgb(22, 14, 95);
  font-size: 25px;
}

.whtt,h4{
  color: aliceblue;
}
.light{
border: 2px solid green;
}
/* .dark{
 border: 2px solid red;
} */
h4{
  text-align: center;
}